.event {
  background-color: #2b6777 !important;
  border-radius: 25px !important;
  border: 10px !important;
  color: #ffffff;
  
}

.show-details {
  background-color: #52ab98 !important;
  border-color: #52ab98 !important;
}
.hide-details {
  background-color: #52ab98 !important;
  border-color: #52ab98 !important;
  margin-bottom: 5px;
}

.details-link {
  color: #ffffff;
}
